$grey: #1E272E;
$lightgrey: #26323a;
$darkgreen: #027333;
$green: #03a64a;
$lightgreen: #2ecc71;

@font-face {
    font-family:'portfolio';
    src:url('../font/portfolio.eot');
    src:url('../font/portfolio.eot?#iefix') format('embedded-opentype'),
    url('../font/portfolio.woff') format('woff'),
    url('../font/portfolio.ttf') format('truetype'),
    url('../font/portfolio.svg#portfolio') format('svg');
    font-weight:normal;
    font-style:normal;
    font-family:'Montserrat-Light';
    src: url('../font/Montserrat-Light.otf') format('opentype');
    font-weight:light;
    font-style:light;
}

body {
	background: $grey;
}

.nav{
	background: $grey;
	header{
		background: $grey;
		height: 60px;
	}
}

.home{
	background: $lightgrey;

	#particules{
		width: 100% !important;
		height: 100%!important;
		z-index: -100;
	}
}

.bio{
	background: $grey;
}

footer{
	height: 50px !important;
	background: $lightgrey;
	color: white;
	.fbLink:before, 
	.twitterLink:before, 
	.gitLink:before, 
	.linkedLink:before, 
	.viadeoLink:before{
		font-family:  'portfolio';
	}
	.fbLink{
		&:before{
			content:'\e000';
		}
	}
	.twitterLink{
		&:before{
			content:'\e001';
		}
	}
	.gitLink{
		&:before{
			content:'\e002';
		}
	}
	.linkedLink{
		&:before{
			content:'\e003';
		}
	}
	.viadeoLink{
		&:before{
			content:'\e004';
		}
	}
}