@charset 'UTF-8';

@font-face {
	font-family:'portfolio';
	src:url("../font/portfolio.eot");
	src:url("../font/portfolio.eot?#iefix") format("embedded-opentype"),
		url("../font/portfolio.woff") format("woff"),
		url("../font/portfolio.ttf") format("truetype"),
		url("../font/portfolio.svg#portfolio") format("svg");
	font-weight: normal;
	font-style: normal;
    font-family:'MontserratLight';
    src:url('../font/Montserrat-Light.otf') format('opentype');
    font-weight:lighter;
    font-style:normal;
    font-family:'Montserrat';
    src:url('../font/Montserrat-Bold.otf') format('opentype');
    font-weight:bold;
    font-style:bold;
    font-family: 'ashbury';
    src:url('../font/AshburyLig-webfont.eot');
    src:url('../font/AshburyLig-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/AshburyLig-webfont.woff2') format('woff2'),
        url('../font/AshburyLig-webfont.woff') format('woff'),
        url('../font/AshburyLig-webfont.ttf') format('truetype'),
        url('../font/AshburyLig-webfont.svg#ashburylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

$grey: #353E42;
$lightgrey: #3C464A;
$darkgreen: #027333;
$green: #03a64a;
$lightgreen: #2ecc71;
$white: #fff;

$PO: portfolio;
$ML: MontserratLight, Helvetica, sans-serif;
$MB: Montserrat, Helvetica, sans-serif;
$AS: ashbury, serif;

@mixin footer-text {
  font: {
    family: $MB;
  }
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  color: darken($white, 50%);
  &:hover{
    color: $white;
    transition: ease-in-out all .5s;
  }
}


body {
	background: $grey;
}

.title{
	color: $white;
	text-align: center;
	font-size: 1.8em;
	font-family: $MB;
	letter-spacing: 5px;
	margin-bottom: 60px;
	&:after{
		content: '_';
		color: $green;
		font-weight: bold;
		text-shadow: 0 0 8px $lightgreen;
	    animation: barOpacity 0.8s ease-in-out infinite;
	}
}

@keyframes barOpacity {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

/**** HOME ****/
.home{
	background: $lightgrey;
	// border-top: 2px solid $green;
	text-align: center;
	min-height: 95%;
	.homeContent{
		#particules{
			width: 100% !important;
			height: 95% !important;
			position: absolute;
			z-index: 0;
		}
		.row{
			div{
				position: relative;
				z-index: 2;
				padding: 21% 0;
				/* height: 600px; */
				h1,h2{
					font-family: $MB;
					color: $white;
					font-size: 3.5em;

				}
				h1{
					margin-bottom: 25px;
				}
				h2{
					font-size: 2.5em;
				}
			}
		}
	}
}

/**** BIO ****/
.bio{
	padding: 100px 0;
	background: $grey;
	color: $white;
	position: relative;
	.row{
		div{
			h3{
				font-size: 1.8em;
				font-family: $MB;
				color: $white;
				text-align: center;
			}
		}
	}
}

/**** PROJECTS ****/
.projects{
	padding: 100px 0;
	background: $lightgrey;
	position: relative;
	.row{
		.projectThumb{
			/*border: 3px solid $green;*/
			min-height: 150px;
			width: 250px;
			display: block;
			margin: 10px auto;
		}
		.thumbDesc{
			text-align: center;
			margin: 15px 0 35px 0;
			p{
				margin-bottom: 0;
			}
			p:first-child{
				font-family: $MB;
				font-size: 1.2em;
				color: darken($white, 30%);
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			p:last-child{
				font-family: $AS;
				font-size: 1em;
				color: darken($white, 30%);
				font-style: italic;
			}
		}
	}
}

/**** MODALS ****/
.projectModal {
	background: $lightgrey;
	border: 2px solid $darkgreen;
	color: $white;
	.modalTitle{
		color: $white;
		text-align: center;
		font-size: 1.8em;
		font-family: $MB;
		letter-spacing: 5px;
		margin-bottom: 60px;
		&:after{
			content: '_';
			color: $green;
			font-weight: bold;
			text-shadow: 0 0 8px $lightgreen;
		    animation: barOpacity 0.8s ease-in-out infinite;
		}
	}
	.close-reveal-modal{
		color: $green;
		transition: all 0.3s ease-in-out;
		&:hover{
			text-shadow: 0 0 8px $lightgreen;
		}
	}
}

/**** SKILLS ****/
.skillSection{
	padding: 100px 0;
	background: $grey;
	color: $white;
	.row{
		vertical-align: middle;
		div{
			h3{
				font-size: 1.8em;
				font-family: $MB;
				color: $white;
			}
		}
		.skills{
			ul{
				list-style: none;
				text-align: center;
				font-family: $AS;
				li{
					padding: 5px 0;
					margin-bottom: 0;
					p{
						margin-bottom: 0;
						color: darken($white, 30%);
					}
				}
			}
		}
	}
}

/**** CV ****/
.cv{
	padding: 100px 0;
	background: $lightgrey;
	.row{
		.cvButton{
			a{
				width: 100px;
				height: 100px;
				background-image: url('../img/favicons/favicon-194x194.png') no-repeat fixed center;
				border: 2px solid $green;
				&:hover{
					&:after{
						display: block;
						transition: ease-in-out all .5s;
					}
				}
				&:after{
					content: 'Affichez mon CV';
					font-family: $AS;
					font-size: 1em;
					color: darken($white, 30%);
					font-style: italic;
					margin-top: 15px;
					display: none;
				}
			}
		}
	}
}


/**** FOOTER ****/
footer{
	background: $grey;
	padding: 40px 0;
	.row{
		.contactBar{
			text-align: center;
			h4,h5{
				color: darken($white, 30%);
				a{
					color: darken($white, 30%);
					&:hover{
						color: $white;
						transition: ease-in-out all .5s;
					}
				}
			}
			h4{
				font-family: $MB;
			}
			h5{
				font-family: $ML;
			}
		}
		.communityBar{
			margin-top: 45px;
			.fbLink, 
			.twitterLink, 
			.gitLink, 
			.linkedLink, 
			.viadeoLink{
				@include footer-text;
				margin-left: 10px;
				&:before{
					font-family: $PO;
					margin-right: 5px;
				}
			}
			.fbLink{
				&:before{
					content:'\e000';
				}
			}
			.twitterLink{
				&:before{
					content:'\e001';
				}
			}
			.gitLink{
				&:before{
					content:'\e002';
				}
			}
			.linkedLink{
				&:before{
					content:'\e003';
				}
			}
			.viadeoLink{
				&:before{
					content:'\e004';
				}
			}
		}
	}
}